.banner-principal {
  background: url("/img/doacao-banner1.png") center/cover no-repeat;
  padding: 80px 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(7px);
}

.banner-doacao {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  color: var(--branco-neve);
}

.banner-doacao h2,
.banner-doacao p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-doacao {
  background: url("/img/doacao-banner2.png") center/cover no-repeat;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: var(--branco-neve);
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.banner-doacao h2 {
  font-family: var(--font-título);
  font-size: 24px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.banner-doacao p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.banner-doacao h2,
.banner-doacao p {
  color: var(--font-cor2);
  font-weight: 500;
  text-shadow: 0 0 5px var(--neon-efc);
  animation: neon-glow 1.5s infinite alternate;
}

.doacao-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px;
}

.doacao-card {
  background: var(--bg-card);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0.5rem 1rem var(--neon-efc);
  width: 300px;
}

.doacao-card h3,
.doacao-card p {
  color: var(--font-cor);
  font-weight: 500;
}

.doacao-card img {
  width: 200px;
  height: 200px;
  background-color: var(--branco-neve);
  border-radius: 10px;
  margin: 10px 0;
}

#cripto-selecao {
  appearance: none;
  background: linear-gradient(45deg, #222, #333);
  color: var(--branco-neve);
  border: 2px solid #ff9900;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 220px;
  text-align: center;
  outline: none;
}

#cripto-selecao::-ms-expand {
  display: none;
}

#cripto-selecao:hover {
  background: linear-gradient(45deg, #333, #444);
  border-color: #ff6600;
}

#cripto-selecao option {
  background-color: #222;
  color: var(--branco-neve);
  font-weight: bold;
  padding: 10px;
}

.btn-card-doacao {
  background: var(--cor-do-bg);
  color: var(--branco-neve);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-card-doacao:hover {
  box-shadow: 0 0.5rem 1rem var(--neon-efc);
}
