/* Estilo do contêiner principal */
.filtro-container {
  padding: 20px;
  border-radius: 8px;
  color: white;
  max-height: 50%;
  padding: 2rem;
}

/* Estilo do cabeçalho de resultados e do dropdown "Listar por" */
.filtro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resultados {
  font-size: 1.2rem;
  font-weight: bold;
}

.listar-por {
  display: flex;
  align-items: center;
  gap: 5px;
}

.listar-por select {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

/* Estilo dos filtros */
.filtros-wrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.filtro-item {
  flex: 1;
  min-width: 120px;
  position: relative;
}

.filtro-item span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filtro-item select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
  .filtros-wrapper {
    flex-direction: column;
  }
}
