@import url("/Styles/header.css");
@import url("/Styles/StyleCrédito.css");
@import url("/Styles/Card.css");
@import url("/Styles/Modal.css");

:root {
  --branco-neve: #e0e0e0;
  --preto-shadow: #121212;
  --bg-header: #171a21;
  --cor-bordar: #121417;
  --cor-do-bg: #121212;
  --cor-de-buttontrue: #66c0f4;
  --cor-de-buttonfalse: #e6796c;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--preto-shadow);
  color: var(--cor-do-bg);
  font-size: 16px;
}
